.cartproduct{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 5px;
    border: 1px solid white;
    border-left: none;
    border-right: none;
}
.cartcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cart{
    height: 95vh;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.emptyCart{
    margin-top: 200px;
}
.emptyCart img{
    width: 65%;
    height: 100%;
}